.contact-container {
	background: #0000000d;
	border-radius: 16px;
	padding: 1em 2em;
	margin: 2em auto;

	.content {
		padding: 1em 0em;

		.item {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
	
			align-items: center;
	
			img {
				height: 20px;
				width: 20px;
			}
	
			p {
				margin: 1em;
			}
		}
	}

	iframe {
		border-radius: 16px;
		border: none;
		height: 256px;
		width: 100%;
	}
}
