.gallery-container {
	max-width: 1024px;
	padding: 4em 0em;
	margin: 0 auto;

	.title {
		text-transform: uppercase;
		border-bottom: solid 1px black;
		text-align: left;
		font-size: 1.5em;
		font-weight: 500;
		line-height: 1em;
		padding: 0.5em 2em;
		margin: 2em 1em;
	}

	.discography {
		align-items: center;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		justify-content: space-evenly;

		margin: 1em;

		.disc {
			position: relative;
			margin: 1em;

			cursor: default;

			img {
				height: 256px;
				width: 256px;
			}

			.panel {
				transition: all 1000ms ease-in-out;

				position: absolute;
				bottom: 0px;
				height: 0%;
				width: 100%;

				background: #999999cc;

				opacity: 0;

				p {
					text-align: center;
					font-size: 1.2em;
					font-weight: 500;
					color: white;
					margin: 1em;
				}

				.btn {
					position: absolute;
					bottom: 0px;
					left: 50%;

					transform: translateX(-50%);
					padding: 1em 2em;
					margin: 1em 0em;

					background: #b3b3b3cc;
					color: white;
		
					border: solid 4px white;
					border-radius: 16px;

					text-transform: uppercase;

					cursor: pointer;

					&:hover {
						background: #808080;
					}
				}
			}

			&:hover {
				.panel {
					height: 100%;
					opacity: 1;
				}
			}
		}
	}
}
