<div class="page gallery-container">
	<div class="section" *ngIf="discography?.data?.length > 0">
		<div class="title" *ngIf="discography.title" translate>{{ discography.title }}</div>
		<div class="discography">
			<div class="disc shadow" *ngFor="let disc of discography.data; let i = index">
				<img src="/assets/images/{{ disc.image }}">

				<div class="panel" (click)="discIndex = i">
					<p>{{ disc.name }}</p>
					<p>{{ disc.year }}</p>
					<div class="btn" *ngIf="disc?.songs?.length > 0" (click)="open(disc, i)" translate>gallery.button</div>
				</div>
			</div>
		</div>
	</div>
</div>