.footer-container {
	position: fixed;
	bottom: 0px;
	width: 100vw;

	background: #3c3c3c;
	color: white;

	text-align: center;
	
	p {
		text-transform: uppercase;
		margin: 1em;

		&:first-child {
			font-size: 1.5em;
			color: white;
		}

		&:last-child {
			font-size: 1.25em;
			color: grey;
		}
	}
}
