<div class="header-container">
	<div class="navbar" *ngFor="let link of links" routerLink="/{{ link }}" translate>header.{{ link }}</div>
	<side-menu></side-menu>

	<div class="social-networks">
		<a href="https://www.facebook.com/luxfundacio">
			<img src="/assets/icons/facebook.svg">
		</a>
		
		<a href="https://www.instagram.com/lux_fundacio">
			<img src="/assets/icons/instagram.svg">
		</a>

		<a href="https://www.youtube.com/channel/UCgjysEgq2bRrLgKF1psSyFg">
			<img src="/assets/icons/youtube.svg">
		</a>
	</div>
</div>