<div class="player-container">
	<img class="back focus" src="/assets/icons/back.svg" (click)="goBack()">

	<div class="player" *ngIf="state">
		<img class="disc-image shadow" src="/assets/images/{{ disc.image }}">

		<div class="time-bar">
			<input type="range" step="1" min="0" max="{{ state.duration }}" value="{{ state.currentTime }}" (input)="onSliderChangeEnd($event)">
			
			<div class="info">
				<p>{{ state.readableCurrentTime }}</p>
				<p>{{ state.readableDuration }}</p>
			</div>
		</div>

		<div class="btn-group">
			<div class="btn shadow" ngClass="{{ isFirstPlaying() ? 'disabled' : '' }}" (click)="previous()">
				<img src="/assets/icons/previous.svg">
			</div>

			<div class="btn shadow main" *ngIf="!state.playing" (click)="play()">
				<img src="/assets/icons/play.svg">
			</div>
			
			<div class="btn shadow main" *ngIf="state.playing" (click)="pause()">
				<img src="/assets/icons/pause.svg">
			</div >
			
			<div class="btn shadow" ngClass="{{ isLastPlaying()? 'disabled' : '' }}" (click)="next()">
				<img src="/assets/icons/next.svg">
			</div>
		</div>
	</div>

	<div class="playlist" *ngIf="disc && disc.songs && disc.songs.length > 0">
		<div class="single" [ngClass]="styleSong(i)" *ngFor="let song of disc.songs; let i = index" (click)="openFile(song, i)">
			<p>{{ song.name }}</p>
		</div>
	</div>
</div>
