<div class="page about-container">
	<div class="section">
		<div class="title" translate>about.title.1</div>
		<p class="description" translate>about.description</p>
	</div>

	<div class="section" *ngIf="profiles?.length > 0">
		<div class="title" translate>about.title.2</div>
		<div class="group-row">
			<profile *ngFor="let user of profiles" [user]="user"></profile>
		</div>
	</div>

	<div class="section" *ngIf="projects?.length > 0">
		<div class="title" translate>about.title.3</div>
		<accordion *ngFor="let item of projects" title="{{ item.title }}" description="{{ item.description }}"></accordion>
	</div>

	<div class="section" *ngIf="reports?.length > 0">
		<div class="title" translate>about.title.4</div>
		<div class="group-row">
			<a class="file shadow focus" *ngFor="let file of reports" href="/assets/files/{{ file.url }}">
				<img src="/assets/icons/file.svg">
				<p>{{ "about.file.report" | translate: { year: file.name } }}</p>
			</a>
		</div>
	</div>

	<div class="section" *ngIf="press?.length > 0">
		<div class="title" translate>about.title.5</div>
		<div class="group-row">
			<a class="file shadow focus" *ngFor="let file of press" href="/assets/files/{{ file.url }}">
				<img src="/assets/icons/news.svg">
				<p>{{ file.name }}</p>
			</a>
		</div>
	</div>

	<div class="section" *ngIf="contact?.email || contact?.address || contact?.phone">
		<div class="title" translate>about.title.6</div>
		<contact></contact>
	</div>
</div>