<div class="page about-container">
	<div class="section" *ngIf="description?.data?.length > 0">
		<div class="title" *ngIf="description.title" translate>{{ description.title }}</div>
		<p *ngFor="let item of description.data" class="description" translate>{{ item }}</p>
	</div>

	<div class="section" *ngIf="profiles?.data?.length > 0">
		<div class="title" *ngIf="profiles.title" translate>{{ profiles.title }}</div>
		<div class="group-row">
			<profile *ngFor="let user of profiles.data" [user]="user"></profile>
		</div>
	</div>

	<div class="section" *ngIf="projects?.data?.length > 0">
		<div class="title" *ngIf="projects.title" translate>{{ profiles.title }}</div>
		<accordion *ngFor="let item of projects.data" [title]="item.title" [description]="item.description"></accordion>
	</div>

	<div class="section" *ngIf="reports?.data?.length > 0">
		<div class="title" *ngIf="reports.title" translate>{{ reports.title }}</div>
		<div class="group-row">
			<a class="file shadow focus" *ngFor="let file of reports.data" href="/assets/files/{{ file.url }}">
				<img src="/assets/icons/file.svg">
				<p>{{ "about.file.report" | translate: { year: file.name } }}</p>
			</a>
		</div>
	</div>

	<div class="section" *ngIf="press?.data?.length > 0">
		<div class="title" *ngIf="press.title" translate>{{ press.title }}</div>
		<div class="group-row">
			<a class="file shadow focus" *ngFor="let file of press.data" href="/assets/files/{{ file.url }}">
				<img src="/assets/icons/news.svg">
				<p>{{ file.name }}</p>
			</a>
		</div>
	</div>

	<div class="section" *ngIf="contact?.data?.email || contact?.data?.address || contact?.data?.phone">
		<div class="title" *ngIf="contact.title" translate>{{ contact.title }}</div>
		<contact [data]="contact.data"></contact>
	</div>
</div>