<div class="about-container">
	<div class="section">
		<div class="title" translate>about.title.1</div>
		<p class="description" translate>about.description</p>
	</div>

	<div class="section" *ngIf="profiles && profiles.length > 0">
		<div class="title" translate>about.title.2</div>
		<div class="group-row">
			<div class="profile shadow" *ngFor="let user of profiles">
				<img *ngIf="user.photo" src="/assets/images/{{ user.photo }}">
				<div class="info">
					<p class="name" *ngIf="user.name">{{ user.name }}</p>
					<p class="role" *ngIf="user.role">{{ user.role }}</p>
					<div class="links" *ngIf="user.links && user.links.length > 0">
						<a href="{{ item.url }}" *ngFor="let item of user.links">
							<img src="/assets/icons/{{ item.icon }}.svg" alt="{{ item.name }}">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="title" translate>about.title.3</div>
		<accordion title="about.project.1.title" description="about.project.1.description"></accordion>
		<accordion title="about.project.2.title" description="about.project.2.description"></accordion>
		<accordion title="about.project.3.title" description="about.project.3.description"></accordion>
		<accordion title="about.project.4.title" description="about.project.4.description"></accordion>
	</div>

	<div class="section" *ngIf="reports && reports.length > 0">
		<div class="title" translate>about.title.4</div>
		<div class="group-row">
			<div class="file shadow focus" *ngFor="let year of reports" (click)="openFile('report-' + year + '.pdf')">
				<img src="/assets/icons/file.svg">
				<p>{{ "about.file.report" | translate: { year: year } }}</p>
			</div>
		</div>
	</div>

	<div class="section" *ngIf="press && press.length > 0">
		<div class="title" translate>about.title.5</div>
		<div class="group-row">
			<div class="file shadow focus" *ngFor="let item of press" (click)="openFile(item + '.pdf')">
				<img src="/assets/icons/news.svg">
				<p>{{ item }}</p>
			</div>
		</div>
	</div>

	<div class="section" *ngIf="contact && (contact.email || contact.address || contact.phone)">
		<div class="title" translate>about.title.6</div>
		<div class="contact">
			<a class="item" *ngIf="contact.email" href="mailto:{{ contact.email }}">
				<img src="/assets/icons/email.svg">
				<p>{{ contact.email }}</p>
			</a>
			<a class="item" *ngIf="contact.phone" href="tel:{{ contact.phone }}">
				<img src="/assets/icons/phone.svg">
				<p>{{ contact.phone }}</p>
			</a>
			<a class="item" *ngIf="contact.address">
				<img src="/assets/icons/marker.svg">
				<p>{{ contact.address }}</p>
			</a>

			<iframe class="item" *ngIf="contact.address" [src]="getMap(contact.address)" loading="lazy"></iframe>
		</div>
	</div>
</div>
