.home-container {
	height: 100vh;
	text-align: center;

	.main-image {
		max-width: 60%;
		height: auto;
	}

	.cover {
		min-height: 100%;

		&:last-child {
			padding-bottom: 96px;	// height of footer
		}
	}

	.content {
		background: white;

		.title {
			font-size: 1.5em;
			line-height: 1.5em;
			text-transform: uppercase;
			margin: 2em;
		}
	}

	.img-group {
		margin: 2em 0em;

		.img-button {
			transition: all 250ms;
			cursor: pointer;
	
			&:hover {
				transform: scale(1.25);
			}
	
			&:active {
				transform: translateY(0.125rem);
			}
		}
	}

	.item-row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;

		margin: 0em 2em;

		.item {
			margin: 1em;

			.number {
				font-size: 2.5em;
				line-height: 1em;
				margin: 0em;
			}

			.text {
				font-size: 1.25em;
				line-height: 1em;
				margin: 0em;
			}
		}

		.card {
			border-radius: 16px;
			padding: 1.25em;
			margin: 1em;

			p {
				font-size: 1.25em;
				margin: 0em;
			}

			&:hover {
				transform: scale(1.1);
			}
		}

		.image {
			align-self: center;
			margin: 1em;

			img {
				height: auto;
				width: 256px;
			}
		}
	}
}
