<div class="page home-container">
	<img class="main-image" src="/assets/images/lux.jpg">

	<div class="parallax" style="background-image: url('/assets/images/home-1.jpg')"></div>

	<div class="cover content" *ngIf="concerts || donations || foundations?.length > 0">
		<div class="title" translate>home.title.1</div>

		<div class="item-row" *ngIf="concerts || donations">
			<div class="message focus" *ngIf="concerts">
				<p class="number">{{ concerts }}</p>
				<p class="text" translate>home.concerts</p>
			</div>

			<div class="message focus" *ngIf="donations">
				<p class="number">{{ donations }}</p>
				<p class="text" translate>home.donations</p>
			</div>
		</div>

		<div class="item-row" *ngIf="foundations?.length > 0">
			<div class="card shadow focus" *ngFor="let item of foundations">
				<p translate>home.support.1</p>
				<img *ngIf="item.icon" src="/assets/images/{{ item.icon }}" alt="{{ item.name }}" class="focus" (click)="openLink(item.url)">
				<a href="{{ item.url }}">{{ item.name }}</a>
				<p translate>home.support.2</p>
			</div>
		</div>
	</div>

	<div class="parallax" style="background-image: url('/assets/images/home-2.jpg')"></div>

	<div class="cover content" *ngIf="organizations?.length > 0">
		<div class="title" translate>home.title.2</div>

		<div class="item-row">
			<div class="image focus" *ngFor="let item of organizations">
				<a href="{{ item.url }}">
					<img src="/assets/images/{{ item.icon }}" alt="{{ item.name }}">
				</a>
			</div>
		</div>
	</div>
</div>
