.home-container {
	height: 100vh;
	text-align: center;
	padding: 4em 0em;

	.title-main {
		padding: 3em 0em 0em;
		cursor: default;

		p {
			text-transform: uppercase;
			margin: 0;

			&.first {
				font-family: 'Times New Roman', Times, serif;
				font-size: 4em;
				line-height: 1em;
				font-weight: 500;
			}

			&.second {
				font-family: 'Times New Roman', Times, serif;
				font-size: 3em;
				line-height: 1em;
				font-weight: 500;
			}

			&.third {
				font-family:'Courier New', Courier, monospace;
				font-size: 1em;
				line-height: 2.5em;
				font-weight: 700;
			}
		}
	}

	.cover {
		min-height: 100%;
		padding-bottom: 132px;	// height of footer
	}

	.content {
		background: white;

		.title {
			font-size: 1.5em;
			line-height: 1.5em;
			text-transform: uppercase;
			margin: 2em;
		}
	}

	.item-row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;

		margin: 2em;

		.title {
			font-family: 'Times New Roman', Times, serif;
			text-transform: uppercase;	

			p {
				font-weight: 500;
				line-height: 1em;
				margin: 0em;

				&.first {
					font-size: 2em;
				}
	
				&.second {
					font-size: 1.25em;
				}
			}
		}

		.message {
			margin: 1em;

			p {
				line-height: 1em;
				margin: 0em;

				&.number {
					font-size: 2.5em;
				}
	
				&.text {
					font-size: 1.25em;
				}
			}
		}

		.card {
			background: white;
			border-radius: 16px;
			padding: 1.25em;
			margin: 1em;

			p {
				font-size: 1.25em;
				margin: 0em;
			}
		}

		.image {
			align-self: center;
			margin: 1em;

			img {
				height: auto;
				width: 256px;
			}
		}
	}
}
