<div class="home-container">
	<header></header>

	<div class="title-main">
		<p class="first">Lux</p>
		<p class="second">Fundació</p>
		<p class="third">Ancient & Charitable music</p>
	</div>

	<div class="parallax" style="background-image: url('/assets/images/home-1.jpg')"></div>

	<div class="cover content">
		<div class="item-row">
			<div class="title focus">
				<p class="first">Lux</p>
				<p class="second">Consort of viols</p>
			</div>
	
			<div class="title focus">
				<p class="first">Lux</p>
				<p class="second">Ensemble</p>
			</div>
		</div>

		<div class="item-row">
			<div class="message focus">
				<p class="number">76</p>
				<p class="text" translate>home.concerts</p>
			</div>

			<div class="message focus">
				<p class="number">16.336€</p>
				<p class="text" translate>home.donations</p>
			</div>
		</div>

		<div class="item-row">
			<div class="card shadow focus" *ngFor="let name of foundations">
				<p>{{ name }}</p>
			</div>
		</div>
	</div>

	<div class="parallax" style="background-image: url('/assets/images/home-2.jpg')"></div>

	<div class="cover content">
		<div class="title" translate>home.colaborators</div>

		<div class="item-row">
			<div class="image focus" *ngFor="let name of organizations">
				<img src="/assets/images/colaborators/{{ name }}">
			</div>
		</div>
	</div>

	<footer></footer>
</div>
