<div class="page shows-container">
	<div class="list" *ngIf="shows && shows.length > 0">
		<div class="item shadow" ngClass="{{ displayMap(show) ? 'show-map' : 'hide-map'}}" *ngFor="let show of shows">
			<div class="info">
				<h1 *ngIf="show.name">{{ show.name }}</h1>
				<p *ngIf="show.address">{{ show.address }}</p>
				<p *ngIf="show.date">{{ show.date | date: 'EEEE, d MMMM yyyy | H:mm' }}</p>
				<p *ngIf="show.price" translate>{{ show.url ? 'show.ticket.online' : 'show.ticket.offline' }}</p>
				<p *ngIf="!show.price" translate>{{ show.url ? 'show.ticket.booked' : 'show.ticket.free' }}</p>

				<a *ngIf="show.url" href="{{ show.url }}">
					<div *ngIf="show.price" class="ticket shadow click">
						<p *ngIf="show.price">{{ show.price }}</p>
						<img src="/assets/icons/ticket.svg">
					</div>
					<div *ngIf="!show.price" class="ticket shadow click">
						<p translate>show.info</p>
					</div>
				</a>

				<div *ngIf="!show.url">
					<div *ngIf="show.price" class="ticket shadow">
						<p *ngIf="show.price">{{ show.price }}</p>
						<img src="/assets/icons/ticket.svg">
					</div>
					<div *ngIf="!show.price" class="ticket shadow">
						<p translate>show.free</p>
					</div>
				</div>

				<div *ngIf="!show.url"></div>
				<img class="bubble" src="/assets/icons/arrow.svg" (click)="toggleMap(show)">
			</div>

			<iframe [src]="getMap(show.address)" *ngIf="show.address" loading="lazy"></iframe>
		</div>
	</div>

	<div class="empty" *ngIf="!shows || shows.length == 0">
		<img src="/assets/icons/advice.svg">
		<p translate>show.empty</p>
	</div>
</div>
