<div class="page shows-container">
	<div class="list" *ngIf="shows && shows.length > 0">
		<div class="item shadow" ngClass="{{ displayMap(show) ? 'show-map' : 'hide-map'}}" *ngFor="let show of shows">
			<div class="info">
				<h1 *ngIf="show.name">{{ show.name }}</h1>
				<p *ngIf="show.address">{{ show.address }}</p>
				<p *ngIf="show.date">{{ show.date | date: 'EEEE, d MMMM yyyy | H:mm' }}</p>	
				<p *ngIf="show.price && show.url" translate>show.ticket.online</p>
				<p *ngIf="show.price && !show.url" translate>show.ticket.offline</p>

				<div *ngIf="show.price" class="ticket shadow {{ show.url ? 'click' : '' }}" (click)="openLink(show.url)">
					<p *ngIf="show.price">{{ show.price }}</p>
					<img src="/assets/icons/ticket.svg">
				</div>

				<div *ngIf="!show.price" class="ticket shadow {{ show.url ? 'click' : '' }}" (click)="openLink(show.url)">
					<p *ngIf="show.url" translate>show.info</p>
					<p *ngIf="!show.url"translate>show.free</p>
				</div>

				<img class="bubble" src="/assets/icons/arrow.svg" (click)="toggleMap(show)">
			</div>

			<iframe [src]="getMap(show.address)" *ngIf="show.address" loading="lazy"></iframe>
		</div>
	</div>

	<div class="empty" *ngIf="!shows || shows.length == 0">
		<img src="/assets/icons/advice.svg">
		<p translate>show.empty</p>
	</div>
</div>
