.shows-container {
	max-width: 1024px;
	padding: 4em 0em;
	margin: 0 auto;

	.list {
		padding: 0em 2em;

		.item {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			justify-content: space-between;

			border-radius: 16px;
			margin: 2em 0em;

			.info {
				position: relative;

				h1 {
					margin: 1.2em 1.2em 0.5em;
					font-size: 1.25em;
					line-height: 1em;
					color: black;
				}

				p {
					margin: 0em 1.5em;
					line-height: 1.5em;
					font-size: 1em;
					color: gray;
				}

				.ticket {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
	
					align-self: baseline;
					align-items: center;
					width: max-content;
					float: right;
	
					border-radius: 16px;
					padding: 0em 0.75em;
					margin: 1em 1.5em 1.5em;
	
					background: #dddd00;
					cursor: default;

					&.click {
						cursor: pointer;
					}
	
					p {
						text-transform: lowercase;
						font-size: 1.25em;
						text-align: right;
						color: black;
						margin: 0.5em;
					}
	
					img {
						margin: 0.5em;
						width: 32px;
					}
				}

				.bubble {
					position: absolute;
					top: 50%;
					left: 100%;

					padding: 0.5em;
					height: 16px;
					width: 16px;

					border-radius: 100%;
					background: #505050;

					cursor: pointer;
				}
			}

			iframe {
				border: none;
			}
		}

		.show-map {
			.info {
				width: 60%;

				.bubble {
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}

			iframe {
				width: 40%;
			}
		}

		.hide-map {
			.info {
				width: 100%;

				.bubble {
					transform: translate(-50%, -50%) rotate(0deg);
				}
			}

			iframe {
				width: 0%;
			}
		}
	}

	.empty {
		text-align: center;
		padding: 5em 2em;

		img {
			height: 128px;
			width: 128px;
		}

		p {
			font-size: 1.5em;
			line-height: 1.5em;
			margin: 3em 0em 0em;
		}
	}

	// Only Mobile
	@media (max-width: 640px) {
		.list {
			.show-map {
				.info {
					width: 100%;

					.bubble {
						top: calc(100% + 128px);
						left: 50%;
						transform: translate(-50%, -50%) rotate(90deg);
					}
				}

				iframe {
					height: 128px;
					width: 100%;
				}
			}

			.hide-map {
				.info {
					width: 100%;

					.bubble {
						top: 100%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(-90deg);
					}
				}

				iframe {
					height: 0px;
					width: 100%;
				}
			}
		}
	}
}
