.accordion-container {
	border-radius: 16px;
	margin: 2em;

	.header {
		display: flex;
		font-size: 1.25em;
		justify-content: space-between;

		p {
			padding: 1em;
		}

		img {
			align-self: center;
			padding: 1em;
			height: 32px;
			cursor: pointer;
		}
	}

	.description {
		padding: 2em 1em;
	}
}